<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.schema">ebineutrinodb</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/ebineutrinodb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <mapping resource="Companyactivitytype.hbm.xml" />
        <mapping resource="Companybank.hbm.xml" />
        <mapping resource="Companyofferstatus.hbm.xml" />
        <mapping resource="Crminvoiceposition.hbm.xml" />
        <mapping resource="Crmproblemsolclass.hbm.xml" />
        <mapping resource="Companycooperation.hbm.xml" />
        <mapping resource="SetReportformodule.hbm.xml" />
        <mapping resource="Crmprojecttasktype.hbm.xml" />
        <mapping resource="Companyservice.hbm.xml" />
        <mapping resource="Companymeetingdoc.hbm.xml" />
        <mapping resource="Crmprojectstatus.hbm.xml" />
        <mapping resource="Ebipessimistic.hbm.xml" />
        <mapping resource="Crminvoicecategory.hbm.xml" />
        <mapping resource="Companyorderdocs.hbm.xml" />
        <mapping resource="Companyopportunitybgstatus.hbm.xml" />
        <mapping resource="Crmproblemsolstatus.hbm.xml" />
        <mapping resource="Companyactivities.hbm.xml" />
        <mapping resource="Companyorderstatus.hbm.xml" />
        <mapping resource="Companyservicetype.hbm.xml" />
        <mapping resource="Companyoffer.hbm.xml" />
        <mapping resource="Companyservicepsol.hbm.xml" />
        <mapping resource="Crmcampaignprops.hbm.xml" />
        <mapping resource="SetReportparameter.hbm.xml" />
        <mapping resource="Ebidatastore.hbm.xml" />
        <mapping resource="Companyopporunitydocs.hbm.xml" />
        <mapping resource="Accountstackcd.hbm.xml" />
        <mapping resource="Crmaddresstype.hbm.xml" />
        <mapping resource="Accountstack.hbm.xml" />
        <mapping resource="Crminvoicestatus.hbm.xml" />
        <mapping resource="Crmproblemsoldocs.hbm.xml" />
        <mapping resource="Crmprojecttask.hbm.xml" />
        <mapping resource="Crmcampaign.hbm.xml" />
        <mapping resource="Companyofferreceiver.hbm.xml" />
        <mapping resource="Companyofferpositions.hbm.xml" />
        <mapping resource="Companyactivitystatus.hbm.xml" />
        <mapping resource="MailOutbox.hbm.xml" />
        <mapping resource="Ebicrmhistory.hbm.xml" />
        <mapping resource="Companycategory.hbm.xml" />
        <mapping resource="Companyopportunitysstage.hbm.xml" />
        <mapping resource="Crmcampaignprop.hbm.xml" />
        <mapping resource="Crmprojecttaskstatus.hbm.xml" />
        <mapping resource="Companymeetingprotocol.hbm.xml" />
        <mapping resource="MailDeleted.hbm.xml" />
        <mapping resource="Crmproductdimensions.hbm.xml" />
        <mapping resource="Companyproducttaxvalue.hbm.xml" />
        <mapping resource="Crmproject.hbm.xml" />
        <mapping resource="Crmcalendar.hbm.xml" />
        <mapping resource="Companymeetingtype.hbm.xml" />
        <mapping resource="Crmcampaignreceiver.hbm.xml" />
        <mapping resource="Companyhirarchie.hbm.xml" />
        <mapping resource="Companyservicecategory.hbm.xml" />
        <mapping resource="Companyopportunityevstatus.hbm.xml" />
        <mapping resource="Companyorderreceiver.hbm.xml" />
        <mapping resource="Crmprojectprops.hbm.xml" />
        <mapping resource="Company.hbm.xml" />
        <mapping resource="Crmproblemsolcategory.hbm.xml" />
        <mapping resource="Crmproblemsolposition.hbm.xml" />
        <mapping resource="Crmproblemsolutions.hbm.xml" />
        <mapping resource="Crmproductdimension.hbm.xml" />
        <mapping resource="MailInbox.hbm.xml" />
        <mapping resource="Crmprojectprop.hbm.xml" />
        <mapping resource="Companyproducttype.hbm.xml" />
        <mapping resource="Companyopportunitybustyp.hbm.xml" />
        <mapping resource="Accountstackdocs.hbm.xml" />
        <mapping resource="Companymeetingcontacts.hbm.xml" />
        <mapping resource="Crminvoice.hbm.xml" />
        <mapping resource="MailAttach.hbm.xml" />
        <mapping resource="Companyproducttax.hbm.xml" />
        <mapping resource="Companyproductcategory.hbm.xml" />
        <mapping resource="Crmproduct.hbm.xml" />
        <mapping resource="Crmcampaigndocs.hbm.xml" />
        <mapping resource="Companyaddress.hbm.xml" />
        <mapping resource="Companyservicedocs.hbm.xml" />
        <mapping resource="Crmproductdependency.hbm.xml" />
        <mapping resource="Ebiuser.hbm.xml" />
        <mapping resource="Companyservicepositions.hbm.xml" />
        <mapping resource="Companyopportunity.hbm.xml" />
        <mapping resource="Companyofferdocs.hbm.xml" />
        <mapping resource="Crmproblemsoltype.hbm.xml" />
        <mapping resource="Companyclassification.hbm.xml" />
        <mapping resource="Crminvoicenumber.hbm.xml" />
        <mapping resource="Companyactivitiesdocs.hbm.xml" />
        <mapping resource="Companyorder.hbm.xml" />
        <mapping resource="Companycontacts.hbm.xml" />
        <mapping resource="Companynumber.hbm.xml" />
        <mapping resource="Crmcampaignstatus.hbm.xml" />
        <mapping resource="Companyopportunitycontact.hbm.xml" />
        <mapping resource="Crmprojectcosts.hbm.xml" />
        <mapping resource="MailAccount.hbm.xml" />
        <mapping resource="Companyservicestatus.hbm.xml" />
        <mapping resource="MailAssigned.hbm.xml" />
        <mapping resource="Companycontactaddress.hbm.xml" />
        <mapping resource="Companyopportunitystatus.hbm.xml" />
        <mapping resource="Crmprojectcost.hbm.xml" />
        <mapping resource="Crmcampaignposition.hbm.xml" />
        <mapping resource="Companyorderpositions.hbm.xml" />
        <mapping resource="MailTemplate.hbm.xml" />
    </session-factory>
</hibernate-configuration>
